{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155992920-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155992920-1');
    </script>
    <script data-ad-client="ca-pub-1810260271665361" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="{%block meta%}{%endblock%}">
    <meta name="keyword" content="{%block keyword%}{%endblock%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/all.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blog/favicon_io/site.webmanifest' %}">



    <title>{% block title %} {% endblock %} </title>
    <!--Favicon-->

</head>

<body>
    {% block content %}

    <div class="page-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="container alert alert-{{message.tags}}">
            {{message}}
        </div>

        {% endfor %}
        {%endif%}
    </div>


    {% endblock content%}

    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'blog/js/owl.js' %}"></script>
    <script src="{% static 'blog/js/appear.js' %}"></script>
    <script src="{% static 'blog/js/wow.js' %}"></script>
    <script src="{% static 'blog/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'blog/js/script.js' %}"></script>
    <script src="{% static 'blog/js/color-settings.js' %}"></script>
    <script src="{% static 'blog/js/all.js' %}"></script>
</body>

</html>