{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Forex Alchemy | Home </title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %} type=" image/x-icon"> <link rel="icon"
        href="{% static 'images/favicon.png' %} type=" image/x-icon"> <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    {% block content %}

    {% endblock content%}

    <script src="{% static 'js/jquery.js' %}"> </script>
    <script src="{% static 'js/popper.min.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/color-settings.js' %}"></script>
</body>

</html>