{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{% block title %} {% endblock %} </title>

    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <!--Favicon-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Quantfx provides Education, News and Analysis on Forex, Commodities and Indices">
    <meta name="keyword" content="forex, forex-news, forex-analysis, trade-forex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    {% block content %}

    <div class="page-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="container alert alert-{{message.tags}}">
            {{message}}
        </div>

        {% endfor %}
        {%endif%}
    </div>


    {% endblock content%}

    <script src="{% static 'js/jquery.js' %}"> </script>
    <script src="{% static 'js/popper.min.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/color-settings.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>
</body>

</html>