{% extends "blog/base.html" %}
{% block ads %}
<script data-ad-client="ca-pub-1810260271665361" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155992920-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-155992920-1');
</script>
{%endblock%}
{% block title%} Quantfx | Education {% endblock %}
{% block content%}


{% include "blog/header.html"%}


{% include "blog/footer.html" %}

{% endblock %}