{% extends "blog/base.html" %}
{% load static %}

{% block title%} Quantfx | Education {% endblock %}
{% block content%}

<body>
    {% include "blog/header.html"%}
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <h2>Latest News</h2>
                    </div>
                    <div class="content-blocks">

                        <!--News Block Four-->
                        <div class="news-block-four">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <a href="blog-single.html"><img src="images/resource/news-10.jpg"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="content-box col-lg-6 col-md-6 col-sm-12">
                                        <div class="content-inner">
                                            <div class="category"><a href="blog-single.html">Travel</a></div>
                                            <h3><a href="blog-single.html">Our dreams just got one step closer to
                                                    universal
                                                    reality</a></h3>
                                            <ul class="post-meta">
                                                <li><span class="icon fa fa-clock-o"></span>March 03, 2017</li>
                                                <li><span class="icon fa fa-comment-o"></span>9</li>
                                                <li><span class="icon fa fa-eye"></span>7540</li>
                                            </ul>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                                doli.
                                                Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque
                                                penatibus et magnis dis parturient montesti…</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--News Block Four-->
                        <div class="news-block-four">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <a href="blog-single.html"><img src="images/resource/news-11.jpg"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="content-box col-lg-6 col-md-6 col-sm-12">
                                        <div class="content-inner">
                                            <div class="category"><a href="blog-single.html">Fashion</a></div>
                                            <h3><a href="blog-single.html">Elon Musk's Hyperloop vision races toward
                                                    first
                                                    public test</a></h3>
                                            <ul class="post-meta">
                                                <li><span class="icon fa fa-clock-o"></span>March 04, 2017</li>
                                                <li><span class="icon fa fa-comment-o"></span>7</li>
                                                <li><span class="icon fa fa-eye"></span>20</li>
                                            </ul>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                                doli.
                                                Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque
                                                penatibus et magnis dis parturient montesti…</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--News Block Four-->
                        <div class="news-block-four">
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <a href="blog-single.html"><img src="images/resource/news-12.jpg"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="content-box col-lg-6 col-md-6 col-sm-12">
                                        <div class="content-inner">
                                            <div class="category"><a href="blog-single.html">Sports</a></div>
                                            <h3><a href="blog-single.html">Every New day scurity strategy for your
                                                    personal
                                                    life</a></h3>
                                            <ul class="post-meta">
                                                <li><span class="icon fa fa-clock-o"></span>March 05, 2017</li>
                                                <li><span class="icon fa fa-comment-o"></span>5</li>
                                                <li><span class="icon fa fa-eye"></span>2450</li>
                                            </ul>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                                doli.
                                                Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque
                                                penatibus et magnis dis parturient montesti…</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Styled Pagination -->
                    <div class="styled-pagination">
                        <ul class="clearfix">
                            <li><a class="next" href="#"><span class="fa fa-angle-left"></span></a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar default-sidebar">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="http://ary-themes.com/html/noor_tech/newspoint/contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search" required="">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!--Tweet Widget-->
                        <div class="sidebar-widget tweet-widget">
                            <div class="sec-title">
                                <h2>Recent Tweets</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme owl-loaded owl-drag">






                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                        style="transform: translate3d(-1496px, 0px, 0px); transition: all 0.7s ease 0s; width: 2618px;">
                                        <div class="owl-item cloned" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 370px; margin-right: 4px;">
                                            <div class="tweet-block">
                                                <div class="inner-box">
                                                    <div class="tweet-icon">
                                                        <span class="fa fa-twitter"></span>
                                                    </div>
                                                    <div class="text">Under a week until our iTunes redesign contest
                                                        closes.
                                                        Don't miss the chance to share in $2000 in valuable super
                                                        prizes!
                                                    </div>
                                                    <div class="post-time">2 Hours Ago</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <div class="owl-prev"><span class="fa fa-angle-left"></span></div>
                                    <div class="owl-next"><span class="fa fa-angle-right"></span></div>
                                </div>
                                <div class="owl-dots">
                                    <div class="owl-dot"><span></span></div>
                                    <div class="owl-dot"><span></span></div>
                                    <div class="owl-dot active"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <!--Facebook Widget-->
                        <div class="sidebar-widget facebook-widget">
                            <div class="sec-title">
                                <h2>Facebook Likes</h2>
                            </div>
                            <div class="widget-content">
                                <div class="image">
                                    <img src="images/resource/facebook-like.jpg" alt="">
                                </div>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>

    {% include "blog/footer.html" %}
</body>
{% endblock %}