<!-- Preloader -->
<!-- <div class="preloader"></div> -->

<!-- Main Header -->
<header class="main-header">

    <!-- Header Top Two-->
    <div class="header-top-two">
        <div class="auto-container">
            <div class="clearfix">

                <!--Top Left-->
                <div class="top-left">
                    <!--social-icon-->
                    <div class="social-icon">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fa fa-behance"></span></a></li>
                        </ul>
                    </div>
                </div>

                <!--Top Right-->
                <div class="top-right clearfix">

                    <!-- Search -->
                    <div class="search-box">
                        <form method="post" action=" ">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search" required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- Header Top End -->

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">

                <div class="pull-left logo-outer">
                    <div class="logo"><a href="index.html"><span class="letter">n</span><img src="images/logo.png"
                                alt="" /></a></div>
                </div>
                <div class="pull-right upper-right clearfix">
                    <div class="add-image">
                        <a href="#"><img src="images/resource/header-add.jpg" alt="" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!--Header Lower-->
    <div class="header-lower">
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="#">Home</a></li>

                            </ul>
                        </div>
                        <div class="navbar-collapse collapse clearfix ">
                            <ul class="navigation clearfix">
                                <li><a href="#">Market News</a></li>
                                <li><a href="contact.html">Analysis</a></li>
                                <li><a href="contact.html">Education</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>

                    </div>


                </nav>
                <!-- Hidden Nav Toggler -->
                <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="icon qb-menu1"></span></button>
                </div>

            </div>

        </div>
    </div>
    <!--End Header Lower-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title=""><span class="letter">n</span><img src="images/logo-small.png"
                        alt="" /></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index-1.html">Home 01</a></li>
                                    <li><a href="index-2.html">Home 02</a></li>
                                    <li><a href="index-3.html">Home 03</a></li>
                                    <li class="dropdown"><a href="#">Header Styles</a>
                                        <ul>
                                            <li><a href="index-1.html">Header 01</a></li>
                                            <li><a href="index-2.html">Header 02</a></li>
                                            <li><a href="index-3.html">Header 03</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">About Us</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="about-2.html">About Us Two</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="error-page.html">Error Page</a></li>
                                    <li><a href="comming-soon.html">Comming Soon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Projects</a>
                                <ul>
                                    <li><a href="project-threecolumn.html">Projects 3 Column</a></li>
                                    <li><a href="project-fourcolumn.html">Projects 4 Column</a></li>
                                    <li><a href="project-fullscreen.html">Projects Full Screen</a></li>
                                    <li><a href="project-detail.html">Projects Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Our blog</a></li>
                                    <li><a href="blog-sidebar.html">blog Sidebar</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-single.html">Shop Details</a></li>
                                    <li><a href="shoping-cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout Page</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Header Style Two -->

<!-- Hidden Navigation Bar -->
<section class="hidden-bar left-align">

    <div class="hidden-bar-closer">
        <button><span class="qb-close-button"></span></button>
    </div>

    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <a href="index.html"><span class="letter">n</span><img src="images/mobile-logo.png" alt="" /></a>
        </div>
        <!-- .Side-menu -->
        <div class="side-menu">
            <!--navigation-->
            <ul class="navigation clearfix">
                <li class="current dropdown"><a href="#">Home</a>
                    <ul>
                        <li><a href="index-1.html">Home 01</a></li>
                        <li><a href="index-2.html">Home 02</a></li>
                        <li><a href="index-3.html">Home 03</a></li>
                        <li class="dropdown"><a href="#">Header Styles</a>
                            <ul>
                                <li><a href="index-1.html">Header 01</a></li>
                                <li><a href="index-2.html">Header 02</a></li>
                                <li><a href="index-3.html">Header 03</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">About Us</a>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="about-2.html">About Us Two</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="error-page.html">Error Page</a></li>
                        <li><a href="comming-soon.html">Comming Soon</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">Projects</a>
                    <ul>
                        <li><a href="project-threecolumn.html">Projects 3 Column</a></li>
                        <li><a href="project-fourcolumn.html">Projects 4 Column</a></li>
                        <li><a href="project-fullscreen.html">Projects Full Screen</a></li>
                        <li><a href="project-detail.html">Projects Details</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">Blog</a>
                    <ul>
                        <li><a href="blog.html">Our blog</a></li>
                        <li><a href="blog-sidebar.html">blog Sidebar</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">Shop</a>
                    <ul>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="shop-single.html">Shop Details</a></li>
                        <li><a href="shoping-cart.html">Cart Page</a></li>
                        <li><a href="checkout.html">Checkout Page</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <!-- /.Side-menu -->

        <!--Options Box-->
        <div class="options-box">
            <!--Sidebar Search-->
            <div class="sidebar-search">
                <form method="post" action="http://ary-themes.com/html/noor_tech/newspoint/contact.html">
                    <div class="form-group">
                        <input type="search" name="text" value="" placeholder="Search ..." required="">
                        <button type="submit" class="theme-btn"><span class="fa fa-search"></span></button>
                    </div>
                </form>
            </div>
            <!--Social Links-->
            <ul class="social-links clearfix">
                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
            </ul>

        </div>

    </div><!-- / Hidden Bar Wrapper -->

</section>
<!-- End / Hidden Bar -->