{% load static %}
<!-- Main Header -->
<header class="main-header">
    <!-- Header Top Two-->
    <div class="header-top-two">
        <div class="auto-container">
            <div class="clearfix">
                <!--Top Left-->
                <div class="top-left">
                    <!--social-icon-->
                    <div class="social-icon">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-medium"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href=""><span class="fab fa-telegram"></span></a></li>
                        </ul>
                    </div>
                </div>

                <!--Top Right-->
                <div class="top-right clearfix">
                    <!-- Search -->
                    <div class="login-box">
                        <form method="post" action=" ">
                            <div class="form-group">
                                {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="btn btn-lg">
                                    Logout <span class="fas fa-sign-out-alt"></span>
                                </a>
                                {% else %}
                                <a href="{% url 'login' %}" class="btn btn-lg">
                                    Login <span class="fas fa-lock"></span>
                                </a>
                                <a href="{% url 'register' %}" class="btn">SignUp
                                    <span class="fas fa-user-plus"></span>
                                </a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top End -->
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="pull-left logo-outer">
                    <div class="logo"><a href="{% url 'blog:home' %}">
                            <span class="letter">Q</span><span class="next">uant</span><span class="last">fx</span><span
                                class="next">.</span>
                        </a></div>
                </div>
                <div class="pull-right upper-right clearfix">
                    <div class="add-image">
                        <a href="#"><img src="{% static 'images/resource/header-add.jpg' %}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    <!--Header Lower-->
    <div class="header-lower">
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{% url 'blog:home'%}">Home</a></li>

                            </ul>
                        </div>
                        <div class="navbar-collapse collapse clearfix ">
                            <ul class="navigation clearfix">
                                <li><a href="{% url 'blog:news' %}">Market News</a></li>
                                <li><a href="{% url 'blog:analysis' %}">Analysis</a></li>
                                <li><a href="{% url 'blog:education' %}">Education</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="{% url 'shop:shop_products' %}">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Hidden Nav Toggler -->
                <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="fa fa-bars"></span></button>
                </div>

            </div>

        </div>
    </div>
    <!--End Header Lower-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left"><a href="{% url 'blog:home' %}">
                    <span class="letter">Q</span><span class="next">uant</span><span class="last">fx</span><span
                        class="next">.</span>
                </a></div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                        <ul class="navigation clearfix">
                            <li><a href="">Home</a></li>
                            <li><a href="">Market News</a></li>
                            <li><a href="">Analysis</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="{% url 'shop:shop_products'%}"></a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div>
    <!--End Sticky Header-->
</header>
<!--End Header Style Two -->

<!-- Hidden Navigation Bar -->
<section class="hidden-bar left-align">

    <div class="hidden-bar-closer">
        <button><span class="qb-close-button"></span></button>
    </div>

    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <a href="index.html"><span class="letter">n</span><img src="images/mobile-logo.png" alt="" /></a>
        </div>
        <!-- .Side-menu -->
        <div class="side-menu">
            <!--navigation-->
            <ul class="navigation clearfix">
                <li><a href="{%url 'blog:home' %}">Home</a></li>
                <li><a href="">Market News</a></li>
                <li><a href="">Analysis</a></li>
                <li><a href="">Education</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="{% url 'shop:shop_products' %}">Shop</a></li>
            </ul>
        </div>
        <!-- /.Side-menu -->

        <!--Options Box-->
        <div class="options-box">
            <!--Sidebar Search-->
            <div class="sidebar-search">
                <form method="post" action="">
                    <div class="form-group">
                        <input type="search" name="text" value="" placeholder="Search ..." required="">
                        <button type="submit" class="theme-btn"><span class="fas fa-search"></span></button>
                    </div>
                </form>
            </div>
            <!--Social Links-->
            <ul class="social-links clearfix">
                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-telegram"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
            </ul>
        </div>
    </div><!-- / Hidden Bar Wrapper -->

</section>
<!-- End / Hidden Bar -->