{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<body>
    {% include "blog/header.html" %}
    <div class="page-wrapper">

        <!--Main Slider Two-->
        <section class="main-slider-two">
            <div class="single-item-carousel owl-carousel owl-theme">
                <!--Slide-->
                <div class="slide">
                    <div class="clearfix">
                        {% for post in latest_posts %}
                        <div class="slide-column col-lg-3 col-md-12 col-sm-12">
                            <div class="news-block-three style-two">
                                <div class="inner-box">
                                    <div class="image">
                                        <img src="{% static 'images/resource/news-15.jpg' %}" alt="" />
                                        <div class="overlay-box">
                                            <div class="content">
                                                <div class="tag"><a href="blog-single.html">{{post.category}}</a></div>
                                                <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon qb-clock"></span>{{post.publish}}</li>
                                                    <li><span class="icon fa fa-comment-o"></span>{{post.comment_count}}
                                                    </li>
                                                    <li><span class="icon qb-eye"></span>{{post.view_count}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        <div class="slide-column col-lg-3 col-md-12 col-sm-12">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Main Slider Two-->
        <!--Sidebar Page Container-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Content Side-->
                    <div class="content-side pull-right col-lg-8 col-md-12 col-sm-12">
                        <!--Economics Blog Boxed-->
                        <div class="content">
                            <!--Sec Title-->
                            <div class="sec-title">
                                <h2>Recent Articles</h2>
                            </div>
                            <div class="row clearfix">
                                <!--News Block One-->
                                <div class="news-block-one col-lg-6 col-md-6 col-sm-12">
                                    {% for post in featured_posts%}
                                    <div class="inner-box">
                                        <div class="image">
                                            <a href="{{post.get_absolute_url}}"><img
                                                    src="{% static 'images/resource/news-1.jpg' %}" alt="" /></a>
                                        </div>
                                        <div class="lower-box">
                                            <div>
                                                <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                                            </div>
                                            <div class="post-date">{{post.publish}} <span>/ {{post.category}}</span>
                                                <span>/ by
                                                    {{post.author}}</span></div>
                                            <div class="text">{{post.body|truncatewords:10}}</div>
                                            <a href="blog-single.html" class="read-more">Read More <span
                                                    class="arrow ion-ios-arrow-thin-right"></span></a>
                                        </div>
                                    </div>
                                    {%if forloop.counter|divisibleby:3 %}
                                </div>
                                <div class="news-block-one col-lg-6 col-md-6 col-sm-12">
                                    {%endif%}
                                    {% endfor %}
                                </div>
                                <!--End News Block-->
                            </div>
                        </div>
                        <!--End Category-->
                        <br><br>
                        <!--Adds Section-->
                        <section class="adds-block text-center">
                            <div class="image">
                                <a href="#"><img src="images/resource/header-add.jpg" alt="" /></a>
                            </div>
                        </section>
                        <!--End Adds Section-->
                        <br><br>
                        <!--Featured Block Section-->
                        <section class="featured-block-section">
                            <!--Sec Title-->
                            <div class="sec-title">
                                <h2>Featured Videos</h2>
                            </div>
                            <div class="single-item-carousel owl-carousel owl-theme">
                                <!--News Block Three-->
                                <div class="news-block-three style-three">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="images/resource/news-19.jpg" alt="" />
                                            <div class="overlay-box">
                                                <a href="blog-single.html" class="play-btn"><span
                                                        class="icon qb-play-arrow"></span></a>
                                                <div class="content">
                                                    <div class="tag"><a href="blog-single.html">Travel</a></div>
                                                    <h3><a href="blog-single.html">Develop a new Silk Road through
                                                            Russia Study the New Digital Course</a></h3>
                                                    <ul class="post-meta">
                                                        <li><span class="icon qb-clock"></span>March 03, 2017</li>
                                                        <li><span class="icon fa fa-comment-o"></span>0</li>
                                                        <li><span class="icon qb-eye"></span>740</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--News Block Three-->
                                <div class="news-block-three style-three">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="images/resource/news-19.jpg" alt="" />
                                            <div class="overlay-box">
                                                <a href="blog-single.html" class="play-btn"><span
                                                        class="icon qb-play-arrow"></span></a>
                                                <div class="content">
                                                    <div class="tag"><a href="blog-single.html">Travel</a></div>
                                                    <h3><a href="blog-single.html">Develop a new Silk Road through
                                                            Russia Study the New Digital Course</a></h3>
                                                    <ul class="post-meta">
                                                        <li><span class="icon qb-clock"></span>March 03, 2017</li>
                                                        <li><span class="icon fa fa-comment-o"></span>0</li>
                                                        <li><span class="icon qb-eye"></span>740</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--News Block Three-->
                                <div class="news-block-three style-three">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img src="images/resource/news-19.jpg" alt="" />
                                            <div class="overlay-box">
                                                <a href="blog-single.html" class="play-btn"><span
                                                        class="icon qb-play-arrow"></span></a>
                                                <div class="content">
                                                    <div class="tag"><a href="blog-single.html">Travel</a></div>
                                                    <h3><a href="blog-single.html">Develop a new Silk Road through
                                                            Russia Study the New Digital Course</a></h3>
                                                    <ul class="post-meta">
                                                        <li><span class="icon qb-clock"></span>March 03, 2017</li>
                                                        <li><span class="icon fa fa-comment-o"></span>0</li>
                                                        <li><span class="icon qb-eye"></span>740</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!--End Featured Block Section-->
                    </div>
                    {% include "blog/sidebar.html" with categories=categories %}
                </div>
            </div>
        </div>
        <!--End Sidebar Page Container-->

        <!--Subscribe Style One-->
        <section class="subscribe-style-one">
            <div class="auto-container">
                <div class="row clearfix">

                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <h2>Newsletter Subscribe</h2>
                        <div class="text">Sign up today for hints, tips and the latest product news.</div>
                    </div>

                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <form method="post" action="http://ary-themes.com/html/noor_tech/newspoint/contact.html">
                            <div class="form-group clearfix">
                                <input type="email" name="email" value="" placeholder="Enter Email Address" required>
                                <button type="submit" class="theme-btn btn-style-four">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
        <!--End Subscribe Style One-->



    </div>
    <!--End pagewrapper-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span>
    </div>
    {% include 'blog/footer.html' %}
</body>
{% endblock content %}