<!--Subscribe Style One-->
<section class="subscribe-style-one">
    <div class="auto-container">
        <div class="row clearfix">

            <div class="col-lg-5 col-md-12 col-sm-12">
                <h2>Subscribe to Quantfx.</h2>
                <div class="text">Sign up today for the latest Forex news, education and analysis.</div>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12">
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group clearfix">
                        <input type="email" name="email" value="" placeholder="Enter Email Address" required>
                        <button type="submit" class="theme-btn btn-style-four">Subscribe</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!--End Subscribe Style One-->