<!--Sidebar Side-->
<div class="sidebar-side pull-left col-lg-4 col-md-12 col-sm-12">
    <aside class="sidebar default-sidebar left-sidebar">

        <!-- Search -->
        <div class="sidebar-widget search-box">
            <form method="post" action="{% url 'blog:search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="search" name="q" value="" placeholder="Search" required>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>

        <!--Category Widget-->
        <div class="sidebar-widget categories-widget">
            <div class="sidebar-title">
                <h2>Categories</h2>
            </div>
            <ul class="cat-list">
                {% for cat in categories %}
                <li class="clearfix"><a href="{{cat.get_absolute_url}}">{{cat.title}}
                        <span>{{cat.category__title__count}}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!--End Category Widget-->

        <!--Social Widget-->
        <div class="sidebar-widget sidebar-social-widget">
            <div class="sidebar-title">
                <h2>Follow Us</h2>
            </div>
            <ul class="social-icon-one alternate">
                <li class="facebook"><a href="#"><span class="fab fa-facebook"></span></a></li>
                <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li class="g_plus"><a href="#"><span class="fab fa-medium"></span></a></li>
                <li class="pinteret"><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li class="twitter"><a href="#"><span class="fab fa-telegram"></span></a></li>

            </ul>
        </div>
        <!--End Social Widget-->

        <!--Adds Widget-->
        <div class="sidebar-widget sidebar-adds-widget">
            <div class="adds-block">
                <div class="inner-box">
                    <a href="https://clicks.pipaffiliates.com/c?m=6549&c=457535"><img
                            src="https://ads.pipaffiliates.com/i/6549?c=457535" width="300" height="250" /></a>
                    <!-- <div class="text">Advertisement <span> 340 x 283</span></div>
                    <a href="#" class="theme-btn btn-style-two">Purchase Now</a> -->
                </div>
            </div>
        </div>
        <!--Ends Adds Widget-->
        <!--News Post Widget-->
        <div class="sidebar-widget posts-widget">
            <!--Product widget Tabs-->
            <div class="product-widget-tabs">
                <!--Product Tabs-->
                <div class="prod-tabs tabs-box">

                    <!--Tab Btns-->
                    <ul class="tab-btns tab-buttons clearfix">
                        <li data-tab="#prod-popular" class="tab-btn active-btn">Popular</li>
                        <li data-tab="#prod-recent" class="tab-btn">Latest</li>
                    </ul>

                    <!--Tabs Container-->
                    <div class="tabs-content">
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="prod-popular">
                            <div class="content">
                                {% for post in popular %}
                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="{{post.get_absolute_url}}"><img
                                                src="{{post.thumbnail.url}}" alt=""></a>
                                        <div class="overlay"><span class="icon qb-play-arrow"></span></div>
                                    </figure>
                                    <div class="text"><a href="{{post.get_absolute_url}}">{{post.title}}</a></div>
                                    <div class="post-info">{{post.publish}} <span> <i class="fas fa-eye">
                                            </i> {{post.view_count}} Views</span> </div>


                                </article>
                                {% endfor %}
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab" id="prod-recent">
                            <div class="content">
                                {% for post in latest_posts%}
                                <article class="widget-post">
                                    <figure class="post-thumb"><a href="{{post.get_absolute_url}}"><img
                                                src="{{post.thumbnail.url}}" alt=""></a>
                                        <div class="overlay"><span class="icon qb-play-arrow"></span></div>
                                    </figure>
                                    <div class="text"><a href="{{post.thumbnail.url}}">{{post.title}}</a></div>
                                    <div class="post-info">{{post.publish}}</div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--End Product Info Tabs-->
        </div>
        <!--End Post Widget-->

    </aside>
</div>