{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}


<body>
    {% include "blog/header.html" %}
    <div class="checkout-page">
        <div class="auto-container">
            <!--Billing Details-->
            <div class="billing-details">
                <div class="shop-form">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-12 col-sm-12 col-lg-offset-2">
                                <div class="sec-title">
                                    <h2>Login</h2>
                                </div>
                                <div class="billing-inner">
                                    {{form| crispy}}
                                    <div class="row clearfix">
                                        <button type="submit"
                                            class="theme-btn btn-style-four order-btn ml-3">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <!--End Billing Details-->
            <!--Default Links-->
            <ul class="default-links">
                <li>Need an account? <a href="{% url 'register' %}">Click here to signup</a></li>
            </ul>

        </div>
    </div>
    {% include "blog/footer.html"%}
</body>

{% endblock %}