{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}


<body>
    {% include "blog/header.html" %}
    <div class="checkout-page">
        <div class="auto-container">
            <!--Billing Details-->
            <div class="billing-details">
                <div class="shop-form">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="sec-title">
                                    <h2>Register</h2>
                                </div>
                                <div class="billing-inner">
                                    <div class="row clearfix">
                                        <!-- Form Group-->
                                        <div class="form-group col-lg-8 col-md-6 col-sm-12 ">
                                            {{form.username|as_crispy_field}}
                                            <!-- <div class="field-label">Username<sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Username"> -->
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-8 col-md-12 col-sm-12">
                                            {{form.email|as_crispy_field}}
                                            <!-- <div class="field-label">Email Address <sup>*</sup></div>
                                            <input type="email" name="field-name" value="" placeholder="Street Address">
                                            <input class="address-two" type="email" name="field-name" value=""
                                                placeholder="Apartment, Suit unit etc (optional)"> -->
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-8 col-md-6 col-sm-12">
                                            {{form.password1|as_crispy_field}}
                                            <!-- <div class="field-label">Password<sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Password"> -->
                                        </div>
                                        <div class="form-group col-lg-8 col-md-6 col-sm-12">
                                            {{form.password2|as_crispy_field}}
                                        </div>
                                        <div class="form-grou[ col-lg-8 col-md-6 col-sm-12">
                                            <button type="submit"
                                                class="theme-btn btn-style-four order-btn ">Signup</button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
                </form>

            </div>

        </div>
        <!--End Billing Details-->
    </div>
    </div>
    {% include "blog/footer.html"%}
</body>

{% endblock %}