{% extends "blog/base.html"%}
{% block content %}

<body>
    {% include "blog/header.html" %}
    <div class="checkout-page">
        <div class="auto-container">

            <!--Default Links-->
            <ul class="default-links">
                <li>Need an account? <a href="#">Click here to signup</a></li>
            </ul>

            <!--Billing Details-->
            <div class="billing-details">
                <div class="shop-form">
                    <form method="post" action="http://ary-themes.com/html/noor_tech/newspoint/checkout.html">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-sm-12">
                                <div class="sec-title">
                                    <h2>Register</h2>
                                </div>
                                <div class="billing-inner">
                                    <div class="row clearfix">

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Username<sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Username">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Email Address <sup>*</sup></div>
                                            <input type="email" name="field-name" value="" placeholder="Street Address">
                                            <input class="address-two" type="email" name="field-name" value=""
                                                placeholder="Apartment, Suit unit etc (optional)">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Password<sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Password">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Company name </div>
                                            <input type="text" name="field-name" value="" placeholder="Company name">
                                        </div>



                                        <!--Form Group-->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label">Town / City <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Town /City">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">State / Country <sup>*</sup> </div>
                                            <select name="country">
                                                <option>Select an option</option>
                                                <option>Pakistan</option>
                                                <option>USA</option>
                                                <option>CANADA</option>
                                                <option>INDIA</option>
                                            </select>
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Postcode / Zip <sup>*</sup></div>
                                            <input type="text" name="code" value="" placeholder="Postcode / Zip">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Email Address <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="Email Address">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Phone <sup>*</sup></div>
                                            <input type="text" name="field-name" value=""
                                                placeholder="Select an option">
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="check-box"><input type="checkbox" name="shipping-option"
                                                    id="account-option"> &ensp; <label for="account-option">Creat an
                                                    account?</label></div>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="sec-title">
                                                <h2>Ship to Different Address</h2>
                                            </div>

                                            <div class="field-label">Order Notes</div>
                                            <textarea
                                                placeholder="Note about your order. e.g. special note for delivery"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-sm-12">
                                <div class="sec-title">
                                    <h2>Your Order</h2>
                                </div>
                                <div class="shop-order-box">
                                    <ul class="order-list">
                                        <li>Prodcut<span>Total</span></li>
                                        <li>Electric Hummer x 1<span>$65.00</span></li>
                                        <li>Subtotal<span class="dark">$65.00</span></li>
                                        <li>Shipping And Handling<span>Free Shipping</span></li>
                                        <li class="total">Total<span class="dark">$65.00</span></li>
                                    </ul>


                                    <!--Place Order-->
                                    <div class="place-order">
                                        <!--Payment Options-->
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" name="payment-group" id="payment-2">
                                                        <label for="payment-2"><strong>Direct Bank
                                                                Transfer</strong></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" name="payment-group" id="payment-1" checked>
                                                        <label for="payment-1"><strong>Cheque Payment</strong><span
                                                                class="small-text">Please send your cheque to Store
                                                                Name, Store Street, Store Town, Store State / County,
                                                                Store Postcode.</span></label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" name="payment-group" id="payment-3">
                                                        <label for="payment-3"><strong>Paypal</strong></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <button type="button" class="theme-btn btn-style-four order-btn">Order
                                            place</button>

                                    </div>
                                    <!--End Place Order-->

                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <!--End Billing Details-->
        </div>
    </div>
    {% include "blog/footer.html"%}
</body>

{% endblock %}