{% extends "blog/base.html" %}
{% load static %}

{% block title%} Quantfx| Shop {% endblock %}
{% block content%}

<body>
    {% include "blog/header.html"%}
    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Elegant Shop</h2>
                </div>

            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!--Shop Section-->
    <section class="shop-section">
        <div class="auto-container">
            <!--Sort By-->
            <div class="items-sorting">
                <div class="row clearfix">
                    <div class="select-column col-lg-12 col-md-12 col-sm-12">
                        <h2>Updating Produts Catalog ...</h2>
                    </div>
                </div>
            </div>

            <!--Shop Items-->
            <div class="shop-items">
                <div class="sec-title">
                    <h2>Top Forex Courses</h2>
                </div>
                <div class="row clearfix">
                    <!--Shop Item-->
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="off-price">-30%</div>
                            <div class="image-box">
                                <a href="shop-single.html"><img src="images/resource/products/1.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="shop-single.html">Top Trader <br> Course</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price">$42.00</div>
                                    <a href="shop-single.html" class="cart-btn theme-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Shop Item-->
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <a href="shop-single.html"><img src="images/resource/products/2.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="shop-single.html">Swing Trading <br> Course</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price"><span class="discount-price">$75.00</span> $42.00</div>
                                    <a href="shop-single.html" class="cart-btn theme-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Shop Item-->
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="sold-out">sold Out</div>
                            <div class="image-box">
                                <a href="shop-single.html"><img src="images/resource/products/3.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="shop-single.html">News trading <br> Course</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price">$199.00</div>
                                    <a href="shop-single.html" class="cart-btn theme-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sec-title">
                    <h2>Best Forex Books</h2>
                </div>
                <div class="row clearfix">
                    <!--Shop Item-->
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="sold-out">sold Out</div>
                            <div class="image-box">
                                <a href="shop-single.html"><img src="images/resource/products/11.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="shop-single.html">The intelligent investor <br> Book</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price">$199.00</div>
                                    <a href="shop-single.html" class="cart-btn theme-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Shop Item-->
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <a href="shop-single.html"><img src="images/resource/products/12.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="shop-single.html">Why Wallstreet Matters <br> book</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price"><span class="discount-price">$109.00</span> $72.00</div>
                                    <a href="shop-single.html" class="cart-btn theme-btn">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Styled Pagination -->
                <div class="styled-pagination centered">
                    <ul class="clearfix">
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </section>
    {% include "blog/newsletter.html" %}
    <!--End Shop Section-->
    {% include "blog/footer.html" %}
</body>
{% endblock %}