{% extends "blog/base.html" %}
{% load static %}
{% block meta%} {%endblock%}
{% block title%} Quantfx| Shop Best Forex Books and Courses {% endblock %}
{% block content%}

<body>
    {% include "blog/header.html"%}
    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Quantfx Shop | Best Forex Trading Books and Courses</h2>
                </div>

            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!--Shop Section-->
    <section class="shop-section">
        <div class="auto-container">
            <!--Sort By-->
            <!-- <div class="items-sorting">
                <div class="row clearfix">
                    <div class="select-column col-lg-12 col-md-12 col-sm-12">
                        <h2>Updating Produts Catalog ...</h2>
                    </div>
                </div>
            </div> -->
            <!--Shop Items-->
            <div class="shop-items">
                <div class="sec-title">
                    <h2>Top Forex Courses</h2>
                </div>
                <div class="row clearfix">
                    <!--Shop Item-->
                    {% for course in courses %}
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <a href="{{course.url}}" target="_blank"><img src="{{course.image.url}}" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="#">{{course.title|truncatewords:7}}</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price">Order Now</div>
                                    <a href="{{course.url}}" target="_blank" class="cart-btn theme-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="sec-title">
                    <h2>Best Forex Books</h2>
                </div>
                <div class="row clearfix">
                    <!--Shop Item-->
                    {% for book in books %}
                    <div class="shop-item col-lg-3 col-md-4 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <a href="{{book.url}}" target="_blank"><img src="{{book.image.url}}" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <div class="upper-box">
                                    <h4><a href="#">{{book.title|truncatewords:7}}</a></h4>
                                </div>
                                <div class="lower-content">
                                    <div class="price">Order Now</div>
                                    <a href="{{book.url}}" target="_blank" class="cart-btn theme-btn">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>


                <!-- Styled Pagination -->
                <div class="styled-pagination centered">
                    <ul class="clearfix">
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </section>
    {% include "blog/newsletter.html" %}
    <!--End Shop Section-->
    {% include "blog/footer.html" %}
</body>
{% endblock %}